button .btn-primary{
    color:red;
}
html, body{
  background: #CBD0D6;
}
.box{
  padding: 10px;
  margin:10px;
  background: #222;
  height: 400px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px #222,
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.well{
  height: 320px;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
  
}
.book-title{
  margin-top:10px;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
}
.book-author{
  height:40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.select {
  position: relative;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
}

.jumbotron{
  border: solid;
  background-color: #222;
  padding: 20px;
  margin:15px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px #222,
            0.3em 0.3em 1em rgba(0,0,0,0.3);
  height: 200px;
}
#search-title{
  color: white;
}

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    /*height:250px;*/
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }

.book-cover{
  width: 100%;
  padding: 15px;
  }
.book-description{
  background: whitesmoke;
  padding: 15px;
  margin-bottom: 15px;
}
.title{
  padding: 10px;
  margin-top:15px;
  margin-bottom: 15px;
  text-align: center;
  background: whitesmoke;
}

.form{
  width: 700px;
  background: #222;
  padding: 10px;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
      0 0  0 2px rgb(255,255,255),
      0.3em 0.3em 1em rgba(0,0,0,0.3);
  color: whitesmoke;
}
@media (max-width: 767px){
  .form{
      width: 510px;
  }
}
@media (max-width: 577px){
  .form{
      width: 90vw;
  } 
}
