{% extends "layout.html" %}


{% block content %}
<h1>BOOKSHELF OF {{user}}</h1>

<form class="form-inline">
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" onchange="view_books();">
            <option value="all" selected>All</option>
            {% for c in categories %}
                <option>{{c}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state" onchange="view_books();">
            <option value="all" selected>All</option>
            {% for s in states %}
                <option>{{s}}</option>
            {% endfor %}
        </select>
    </div>
</form>
<br>
<div class="container">
    <ul id="books">
        
    </ul>
    
</div>



{% endblock %}

{% block more_script %}
<script>
    $("a#bookshelf_link").addClass("active");

    var user_books = {{ user_books | tojson | safe }}
    console.log(user_books);

    function view_books(){
        var category_filter = $('#category').val();
        var state_filter = $('#state').val();
        var books = user_books;
        var output = "";
        var filtered_books = books;

        console.log(books)

        if(category_filter!="all"){
            filtered_books = filtered_books.filter( m => m.category == category_filter)
        }

        if(state_filter!="all"){
            filtered_books = filtered_books.filter( m => m.state == state_filter)
        }

        console.log(filtered_books);

        for(book in filtered_books){
            var b = filtered_books[book]
            output +=`
                <li>${b.ii_type}: ${b.ii_value} <button onclick=bookSelected("${b.gb_id}")>See more</button> <button onclick="togglePopUp('${b.gb_id}')"">Edit</button></li>
                <div class="container">
                    <div class="popup" id="popup-${b.gb_id}">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopUp('${b.gb_id}')">&times;</div>
                            <h1>Edit books</h1>
                            <form method="POST">
                                <label>Google books ID: </label>
                                <input name="gb_id" value="${b.gb_id}" readonly><br>
                                <label>Category: </label>
                                <input type="text" required name="category" value='${b.category}'><br>
                                <label>State: </label>
                                <input type="text" value='${b.state}' name="state" required><br>
                                <input type="submit" class="btn btn-success" name="edit" value="EDIT">
                                <span> or </span>
                                <input type="submit" class="btn btn-danger" name="edit" value="DELETE">
                            </form>
                        </div>
                    </div>
                </div>
            `            
        }

        $('ul#books').html(output);
    }

    function togglePopUp(gb_id){
        document.getElementById(`popup-${gb_id}`).classList.toggle("active");
    }

    document.addEventListener('DOMContentLoaded', view_books())


</script>
{% endblock %}