{% extends "layout2.html" %}



{% block content %}
<div class="container text-center">
    <h1>Welcome to your personal bookshelf site</h1>
    <hr>
    <p>Here you can search books and create a virtual bookshelf, so you 
        can keep track of those you have read or the ones in your wishlist.</p>
    <p>To start using the site, please log in to your account or create one.</p>
</div>

<div class="container text-center">
   
    <a href="login" class="btn btn-primary">Log in</a> 
    <a href="signup" class="btn btn-secondary ">Sign up</a>

</div>

    
{% endblock %}