{% extends "layout2.html" %}



{% block content %}

<div class="container text-center">
    <div class="jumbotron" style="height:280px;">
        <h1>Welcome to your personal bookshelf site</h1><br>
        <p style="padding: 10px 30px 10px 30px;">Here you can search books and create a virtual bookshelf, so you 
            can keep track of those you have read or the ones in your wishlist.
        To start using the site, please log in to your account or create one.</p><br>
        <a href="login" class="btn btn-light"><strong>Log in</strong></a>  
        <a href="signup" class="btn btn-light "><strong>Sign up</strong></a><br>
    </div>
</div>


    
{% endblock %}