{% extends "layout2.html" %}

{% block content %}
<div class="container text-center">
    <br>
    <h1>Log in to your account</h1>
    <br>
</div>


<div class="container form" id="form-container">
    <form method="POST">
        <div class="form-group">
            <label for="username" class="form-label">Username</label><br>
            <input class="form-control" type="text" id="username" name="nm" required><br><br>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label><br>
            <input class="form-control" type="password" id="password" name="pw" required><br><br>
        </div>
        <div class="text-center">
            <input class="btn btn-success mb-3" type="submit" value="Login">
        </div>
        
    </form>
</div>
<br>
<div class="d-flex flex-row-reverse container">
    <a href="/" class="btn btn-primary">Go back</a>
</div>


{% endblock %}