{% extends "layout2.html" %}
{% block content %}
<div class="container text-center">
    <br>
    <h1>Sign up</h1>
    <br>
</div>
<div class="container form">
    <form method="POST">
        <div class="form-group">
            <label class="form-label" for="first_name">First name</label><br>
            <input class="form-control" type="text" id="first_name" name="first_nm" required><br><br>
        </div>
        <div class="form-group">
            <label class="form-label" for="last_name">Last name</label><br>
            <input class="form-control" type="text" id="last_name" name="last_nm" required><br><br>
        </div>
        <div class="form-group">
            <label class="form-label" for="email">Email</label><br>
            <input class="form-control" type="email" id="email" name="email" required><br><br>
        </div>
        <div class="form-group">
            <label class="form-label" for="username">Username</label><br>
            <input class="form-control" type="text" id="username" name="nm" required><br><br>
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Password</label><br>
            <input class="form-control" type="password" id="password" name="pw" required><br><br>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success mb-3" value="Signup">
        </div>
    </form>
</div>
<br>
<div class="d-flex flex-row-reverse container">
    <a href="/" class="btn btn-primary">Go back</a>
</div>
{% endblock %}